@font-face {
  font-family: "iconfont"; /* Project id 2572838 */
  src: url('../fonts/iconfont.eot?t=1622423142928'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1622423142928#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont.woff2?t=1622423142928') format('woff2'),
       url('../fonts/iconfont.woff?t=1622423142928') format('woff'),
       url('../fonts/iconfont.ttf?t=1622423142928') format('truetype'),
       url('../fonts/iconfont.svg?t=1622423142928#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e610";
}

.icon-ren:before {
  content: "\e62c";
}

.icon-guanbi:before {
  content: "\e66f";
}

.icon-sousuo:before {
  content: "\e60c";
}

.icon-dizhi:before {
  content: "\e837";
}

.icon-news:before {
  content: "\e622";
}

.icon-dizhi1:before {
  content: "\e6b5";
}

.icon-hezuohuoban:before {
  content: "\e6c0";
}

.icon-canting:before {
  content: "\e615";
}

.icon-kefang:before {
  content: "\e609";
}

.icon-youshi:before {
  content: "\e62d";
}

.icon-pinpai:before {
  content: "\e688";
}

.icon-datangba:before {
  content: "\e686";
}

.icon-gongsituandui:before {
  content: "\e689";
}

.icon-sirendingzhi:before {
  content: "\e6e5";
}

.icon-youxiang:before {
  content: "\e62b";
}

.icon-huiyikaihuitaolun:before {
  content: "\e603";
}

.icon-ketangweixuanzhong:before {
  content: "\e67f";
}

.icon-rongyujinpai:before {
  content: "\e629";
}

.icon-icon-test:before {
  content: "\e66a";
}

.icon-chuanzhen:before {
  content: "\e647";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-xinwen:before {
  content: "\e68a";
}

.icon-dianhua:before {
  content: "\e802";
}

.icon-licheng:before {
  content: "\e715";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-right:before {
  content: "\e687";
}
