@charset "utf-8";

.column-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        margin-bottom: 10px;
        font-size: .4rem;
        img {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            display: inline-block;
            padding: .08rem .3rem;
            text-align: center;
            color: #fff;
            background-color: $main-color;
            font-weight: normal;
            line-height: 1;
            vertical-align: middle;
        }
    }
    p {
        font-size: .2rem;
        color: $dark-color;
        &:before, &:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 1px;
            background-color: $dark-color;
            vertical-align: middle;
        }
        &:before {
            margin-right: 10px;
        }
        &:after {
            margin-left: 10px;
        }
    }
}

.sub-title {
    text-align: center;
    font-size: .16rem;
    color: $dark-color;
    h3 {
        font-size: .36rem;
        font-weight: 400;
    }
}
