@charset "utf-8";
// 颜色
$main-color: #00433C;
$secondary-color: #1A3C33;
$dark-color: #333333;
$light-color: #666666;
$lighter-color: #999;
$golden-color: #CFA972;
$golden-color-light: #E8CFB7;
$bg-color: #fffef7;
$subtitle-color: #AE0800;
$white-color: #ffffff;

$bg1: #7F6E54;
$bg2: #E9180E;
$bg3: #00413A;
$bg4: #FED3BC;
$bg5:#4D4D62;
$bg6:#008C95;
$bg7: #ECD2B9;
$bg8: #282828;

// 单行文本溢出隐藏
@mixin ellipse {
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
// 多行文本溢出隐藏
@mixin multiline-ellipse($lines) {
    -o-text-overflow: -o-ellipsis-lastline;
       text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// 清除浮动
@mixin clearfix {
    &:after{
        content: "";
        display: block;
        height: 0;
        clear:both;
        visibility: hidden;
    }
    *zoom: 1;
}





