
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media screen and (min-width: 1540px) {
    .container {
        width: 1510px;
    }
    .header .container {
        width: 1628px;
    }
}
